/* classi generiche */
*{
    box-sizing: margin-box;
    margin:0;
    padding:0;
}
.d-flex{
    display: flex;
}
.d-inblock{
    display: inline-block;
}
.d-inline{
    display: inline;
}
.t-center{
    text-align: center;
}
.clearfix::after{
    float: left;
    content:"";
    display: table;
}
.f-right{
    float: right;
}
/* fonts */
.white-style{
    color: white;
}
.grey-style{
    color: #84858A;
}
.t-uppercase{
    text-transform: uppercase
}
.toolbar{
    background-color: #282828;
    height: 60px;   
}
main{
    background-color: #141922;
    height: calc(100vh - 60px);
}
nav{
    width: 100%;
}
.top-nav{
    background-color: #080B12;
    height: 60px;
}
.nav-ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.down-nav{
    height: 40px;
}
aside{
    background-color: #000000;
    flex-direction: column;
    width: 200px;
    height: 100%;   
}
.front{
    width: calc(100vw - 200px);
}

@media all and (max-width: 767px){

    aside{
        width: 60px;
    }
    .front{
        width: calc(100vw - 60px);
    }
}
