/* classi generiche */
*{
    box-sizing: margin-box;
    margin:0;
    padding:0;
}
.d-flex{
    display: flex;
}
.d-inblock{
    display: inline-block;
}
.d-inline{
    display: inline;
}
.t-center{
    text-align: center;
}
.clearfix::after{
    float: left;
    content:"";
    display: table;
}
.f-right{
    float: right;
}
/* fonts */
.white-style{
    color: white;
}
.grey-style{
    color: #84858A;
}
.t-uppercase{
    text-transform: uppercase
}
.t-10px{
    padding-top: 10px;
}
footer{
    background-color: #282828;
    min-height: 60px;
    width: 100vw;
    z-index: 1;
}
main{
    background-color: #141922;
    height: calc(100vh - 60px);
    align-items: stretch;
}

aside{
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: black;
    flex-direction: column;
    align-items: stretch;
}
.content-screen{
    flex-basis: calc( 100vw - 200px);
    flex-grow: 1;
    flex-shrink: 1;
    }
@media all and (max-width: 767px){
    aside{
        flex-basis: 80px;
    }
    .content-screen{
        flex-basis: calc( 100vw - 80px);
        flex-grow: 1;
        flex-shrink: 1;
    }
}
.logo-box{
    flex-grow: 0;
    flex-basis: 1;
    flex-shrink: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.lg-logo{
    height: 35px;        
}
.xs-logo{
    display: none;
}
@media all and (max-width: 767px){
    .logo-box{
        flex-basis: 30px;
    }
    .lg-logo{
        display: none;
    }
    .xs-logo{
        display: block;
        height: 35px;  
    }
}
.t-playlists,
.aside-nav,
.account{
    flex-grow: 0;
    flex-basis: 30px;
    flex-shrink:0;
}
.b-playlists{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: scroll;
    }







