/* classi generiche */
*{
    box-sizing: margin-box;
    margin:0;
    padding:0;
}
.d-flex{
    display: flex;
}
.d-inblock{
    display: inline-block;
}
.d-inline{
    display: inline;
}
.t-center{
    text-align: center;
}
.clearfix::after{
    clear: both;
    content:"";
    display: table;
}
.f-right{
    float: right;
}
.p-relative{
    position: relative;
}
/* fonts */
.white-style{
    color: white;
}
.grey-style{
    color: #84858A;
}
.t-uppercase{
    text-transform: uppercase
}
.t-10px{
    padding-top: 10px;
}
main a,
main ul,
footer a{
    text-decoration: none;
}
/* layout */
footer{
    background-color: #282828;
    min-height: 70px;
    justify-content: space-between;
    align-items: stretch;
}
main{
    background-color: #141922;
    height: calc(100vh - 70px);
    align-items: stretch;
    overflow: hidden;
}
aside{
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: black;
    flex-direction: column;
    align-items: stretch;
}
.content-screen{
    flex-basis: calc( 100vw - 200px);
    flex-grow: 1;
    flex-shrink: 1;
    align-items: stretch;
    }
@media all and (max-width: 767px){
    aside{
        flex-basis: 80px;
    }
    .content-screen{
        flex-basis: calc( 100vw - 80px);
    }
}
/* aside */
.logo-box{
    flex-grow: 0;
    flex-basis: 1;
    flex-shrink: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.lg-logo{
    height: 35px;        
}
.xs-logo{
    display: none;
}
@media all and (max-width: 767px){
    .xs-logo{
        display: block;
        height: 22px;  
    }
    .xs-hidden{
        display: none;
    }
    /* aside .account{
        align-self: flex-end;
    } */
}
aside .t-playlists,
aside .aside-nav,
aside .account{
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
aside .b-playlists{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.nav-icon{
    width: 22px;
    vertical-align: top;
    margin-right: 10px;
}
aside ul li {
    margin-bottom: 10px;
}
.b-nav a,
aside a,
footer a{
    color: #84858A;
}
.b-nav a:hover,
aside a:hover,
footer a:hover{
    color: white;
    text-decoration: none;
}

.download-icon{
    width:15px;
    vertical-align: middle;
    margin-right: 10px;
}
.profile-box{
    border-top: 1px solid #84858A;
    padding-top: 15px;
}
.profile-icon{
    width: 20px;
}
.bg-circle{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color:  #84858A;
    vertical-align: middle;
}
/* main nav */
.b-nav{
    padding: 10px 15px; 
}
.t-nav {
    background-color: #080B12;
    padding: 10px 15px;
}
.btn-upgrade{
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    min-width: 150px;
    text-align: center;
}
nav a {
    font-size: 11px;
}
.b-nav ul li {
    margin-right: 5px;
    margin-left: 5px;
}

/* central-wrap contentente 3 sezioni*/
.chronology-box{
 
}
.album-suggestion{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15%;
}
.cover-box{
    width: 150px;
    padding: 10px;
}
.cover-box>img{
    width: 100%;
}





/* footer */
.l-player,
.r-player{
    order:1;
    flex-shrink:1;
    flex-grow: 0;
    flex-basis: auto;
    padding: 10px 5px 10px 15px;
}
.c-player{
    order: 2;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.r-player{
    order: 3;
}
@media all and (max-width: 767px){
    .l-player{
        flex-shrink:1;
    }
    .album-box{
        width: 30px;
        height: 30px;
    }
    .fav-icon-box{
        display: block;
    }
}
.album-box{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.album-box>img{
    width: 100%;
    object-fit: contain;
}
.song-box {
    margin-right: 15px;
}
.player-icon{
    margin-right: 10px;
}
.xs-player-icon{
    margin-right: 5px;
}
.fa-play-circle-o{
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.time{
    font-size: 8px;
    margin-right: 5px;
    margin-left: 5px;
}
.seekbar-box{
    width: 100%;
    max-width: 400px;
    align-items: center;
}
.seek-bar{
    background-color: rgba(132, 133, 138, 0.5);
    flex-grow: 1;
    height: 4px;
    border-radius: 10px;
}
.bar-over{
    background-color: rgb(132, 133, 138);
    height: 4px;
    width: 35%;
    border-radius: 10px;
    position: absolute;
    left:0;
}
.volume-bar{
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgba(132, 133, 138, 0.5);
    width: 60px;
    height: 4px;
    border-radius: 10px;
    vertical-align: middle;
    line-height: 16px;
}
.on-song{
    align-items: center;
}
.on-song>div{
    flex: 0 1 auto;
 }
.player{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player-icon-box{
    flex: 0 1 auto;
    margin-bottom: 5px;
}
.settings{
    top: 50%;
    transform: translateY(-50%);

}
